<% form_tag :action => "export_design" do %>

<p>
<% if @oligo_designs && @oligo_designs.size > 0 %>
  <b>To view or download these oligos, click below: </b><br />
  <%= submit_tag "Export Oligos" -%> <span class="notes">download to file,</span> 
  <%= submit_tag "View in Bed Format" -%> <span class="notes">(eg) cut & paste in UCSC Genome Browser</span>
<% else %>
  No oligos match the criteria given, please try your search again
<% end %>
</p>

<table class="list">
  <tr>
	<th>Oligo Name</th>
	<th>Chromosome</th>
	<th>Capture Start</th>
	<th>Capture End</th>
	<th>Length</th>
	<th>5prime Capture Arm</th>
	<th>3prime Capture Arm</th>
	<th>Polarity</th>
  </tr>

<% if @oligo_designs && @oligo_designs.size > 0 %>	
<% for oligo_design in @oligo_designs %>
  <%= hidden_field_tag("export_id[]", oligo_design.id)%>
  <tr>
	<td><%= link_to oligo_design.oligo_name, oligo_design %></td>
	<td style="text-align:center"><%=h oligo_design.chromosome_nr %></td>
	<td><%=h oligo_design.amplicon_chr_start_pos %></td>
	<td><%=h oligo_design.amplicon_chr_end_pos %></td>
	<td style="text-align:center"><%=h oligo_design.amplicon_length %></td>
	<td width=220><%=h oligo_design.sel_5prime %></td>
	<td width=220><%=h oligo_design.sel_3prime %></td>
	<td align=center><%=h oligo_design.sel_polarity %></td>
  </tr>
<% end %>
<% end %>
<% end %>
</table>