<% form_tag :action => "export_design" do %>

<table>
<% if @oligo_designs && @oligo_designs.size > 0 %
  <tr><th colspan="2">To view or download these <%=h @oligo_designs.size %> oligos click below:</th></tr>
  <tr><td><%= submit_tag "Export Oligos" -%></td><td><%= submit_tag "View Bed File" -%></td></tr>
  <tr><td class="notes">download to text file </td><td class="notes">for import to external sites/tools</td></tr>
<% else %>
  <tr><td colspan="2">No oligos match the criteria given, please try your search again</td></tr>
<% end %>
</table>

<table class="list">
  <tr>
	<th>Oligo Name</th>
	<th>Chromosome</th>
	<th>Capture Start</th>
	<th>Capture End</th>
	<th>Length</th>
	<th>5prime Capture Arm</th>
	<th>3prime Capture Arm</th>
	<th>Polarity</th>
  </tr>

<% if @oligo_designs && @oligo_designs.size > 0 %>	
<% for oligo_design in @oligo_designs %>
  <%= hidden_field_tag("export_id[]", oligo_design.id)%>
  <tr>
	<td><%= link_to oligo_design.oligo_name, oligo_design %></td>
	<td style="text-align:center"><%=h oligo_design.chromosome_nr %></td>
	<td><%=h oligo_design.amplicon_chr_start_pos %></td>
	<td><%=h oligo_design.amplicon_chr_end_pos %></td>
	<td style="text-align:center"><%=h oligo_design.amplicon_length %></td>
	<td width=220><%=h oligo_design.sel_5prime %></td>
	<td width=220><%=h oligo_design.sel_3prime %></td>
	<td align=center><%=h oligo_design.sel_polarity %></td>
  </tr>
<% end %>
<% end %>
<% end %>
</table>