<h1>Query Capture Sequences</h1>

<% upload_form_for(@design_query, :action => 'index') do |f| %>
<%= f.error_messages(:header_message => "Error(s) in query parameters") %>

<fieldset class="form">
<legend>Select chromosome coordinates</legend>
<table class="form">
  <tr>
  	<th>Chromosome Number:</th>
	<td><%= f.text_field(:chromosome_nr, :size => 2) %></td>
  	<th>Start Position:</th>
	<td><%= f.text_field(:chr_start_pos, :size => 12) %></td>
	<th>End Position:</th>
	<td><%= f.text_field(:chr_end_pos, :size => 12) %></td>
  </tr>
  <tr>
  	<td>-OR-</td>
  </tr>
  <tr><td></td></tr>

  <% fields_for BedFile.new do |b|%>
  <tr>
  	<th>Upload .bed format file:</th>
	<td colspan="5"><%= b.upload_column_field :filenm, :size=>55%> </td>
  </tr>
</table>
<% end %>
</fieldset>
<%= break_clear %>

<fieldset class="form">
<legend>Exclusions (optional)</legend>
<table class="form">
  <tr>
  	<th>5' U0 >:</th><td><%= f.text_field(:sel_5prime_U0, :size => 3) %></td>
	<th>3' U0 >:</th><td><%= f.text_field(:sel_3prime_U0, :size => 3) %></td>
  </tr>
  <tr><td></td></tr>
  <tr>
  	<th>Restriction Enzyme(s):</th>
	<% @enzymes.each_with_index do |enzyme, i|%>
  	  <td><%= enzyme[0] %><%= check_box_tag("enzyme_params[#{i}]", enzyme[0], enzyme[1]) -%></td>
	<% end %>
  </tr>
</table>
</fieldset>

<%= break_clear(f.submit 'Submit')%>
<% end %>


  
