<h1>Query Capture Sequences</h1>

<% upload_form_for(@design_query, :action => 'index') do |f| %>
<%= f.error_messages(:header_message => "Error(s) in query parameters") %>

<fieldset class="form">
<legend>Select chromosome coordinates</legend>
<table class="form">
  <tr>
  	<th>Chromosome Number:</th>
	<td><%= f.text_field(:chromosome_nr, :size => 2) %></td>
  </tr>
  <tr>
  	<th>Chr Start Position:</th>
	<td><%= f.text_field(:chr_start_pos, :size => 12) %></td>
	<th>Chr End Position:</th>
	<td><%= f.text_field(:chr_end_pos, :size => 12) %></td>
  </tr>
</table>
</fieldset>
<%= break_clear %>
<p>-OR-</p>

<fieldset class="form">
<legend>Use BED format file</legend>
<% fields_for BedFile.new do |b|%>
<table class="form">
  <tr>
	<td><%= b.upload_column_field :filenm, :size=>55%> </td>
  </tr>
</table>
<% end %>
</fieldset>

<%= break_clear(f.submit 'Submit')%>
<% end %>
  
